# Hostname permitido para o dev server (ex: subdomínio ngrok)
# VITE_ALLOWED_HOST=your-subdomain.ngrok-free.dev

# URL da API de Autenticação
VITE_AUTH_API_BASE=https://servidor-auth-dash-fboxwqyjfq-rj.a.run.app
